*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: sans-serif;
}
body.cold{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(img/cold.png) no-repeat center/cover; 
}
.screen{
    margin: 0px auto;
    width: 350px;
    height: 570px;
    border-radius: 15px;
    padding: 25px;
    color: white;
    text-align: center;
    justify-content: center;
}
body.cold .screen{
    background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0,0.1)), url(img/cold.png) no-repeat center/cover; 
}
body.hot{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(img/hot.jpg) no-repeat center/cover;
    color: burlywood;
}
body.hot .screen{
    background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0,0.1)), url(img/hot.jpg) no-repeat center/cover;
    color: royalblue;
}
body.medium{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(img/medium.jpg) no-repeat center/cover; 
}
body.medium .screen{
    background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0,0.1)), url(img/medium.jpg) no-repeat center/cover; 
}
.search_city input{
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    font-size: 20px;
    background: rgba(255,255,255,0.4);
    border:none;
    outline:none;
    border-radius: 0px 15px;
    transition: 0.5s;
    box-shadow: 0px 5px rgba(0,0,0,0.2);
}
input:focus{
    background: rgba(255,255,255,0.9);
    border-radius: 15px 0px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}
.time{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
}
.box{
    color: white;
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
    font-size: 65px;
    font-weight:800;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: inline-block;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
}
.box span{
    text-shadow: 3px 3px rgba(0,0,0,0.4);
}
.method{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 2px 2px rgba(0,0,0,0.7);
}
.other{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visibility, .wind, .sun{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.other span{
    margin-top: 10px;
}
