*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(145deg, #569377 50%, #dbede5 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#password{
    width: 300px;
    height: 30px;
    outline: none;
    border:none;
    border-radius: 10px;
    font-size: 20px;
}
.input_div{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 20px;
}
.input_div i{
    cursor: pointer;
}
form{
    display: flex;
}
form button{
    width: 100px;
    background-color:#48735f;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    outline: none;
    border:none;
    font-size: 20px;
    cursor: pointer;
}
.validator{
    margin-top: 20px;
    background-color: #48735f;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.validator p{
    margin-bottom: 20px;
}
.validator i{
    margin-right: 10px;
    color: white !important;
}
.character{
    margin: 0px !important;
}
.valid{
    color: rgba(255,255,255, 0.5);
}
